.top{
    background-color: #1f2937;
   padding-left: 40px;
   padding-right: 80px;
   margin: 0px 20px;
   
}
.para{
    color: #e5e7eb;     
    font-size: 18px;
}
.head{
    justify-content: space-between;
    display: flex;
}
.amazing{
    color: #f9f8f8;
    font-size: 48px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.links{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    color: #e5e7eb;
    font-size: 18px;
}
.h0{
    margin-left: 30px;
    color: #f9f8f8;
    font-size: 24px;
}
.secondary{
    display: flex;
    justify-content: space-around;
}
.btn{
    margin: 30px;
    font-size: medium;
    margin: 20px 20px 40px 20px;
    background-color: #3882f6;
    padding-right: 36px;
    padding-left: 36px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
}
.img{
    width: 250px;
    border: solid 2px black;
    margin-bottom: 20px;
}
.arihant{
    display: inline-block;
    padding: 0px;
}